include COPYRIGHT.txt
include LICENSES.txt
include tox.ini
include adminservice/version.txt
include adminservice/scripts/*.py
include adminservice/skel/sample.*
recursive-include adminservice/ui *.html *.css *.png *.gif
