[Unit]
Description=Redhawk Admin Service
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/local/redhawk/core/bin/adminserviced-start
ExecStop=/usr/local/redhawk/core/bin/adminserviced-stop
WorkingDirectory=/etc/redhawk
TimeoutSec=20s
KillMode=none
PIDFile=/var/run/redhawk/adminserviced.pid

[Install]
WantedBy=multi-user.target
